page-about {

}
h1 {
  font-family: "Times New Roman";
  text-align:center;
   font-size: 40px;
}

div.1{
   text-align:center;
   color:#85144b;
   font-size: 30px;
   animation-name: example;
   animation-duration: 4s;
   animation-fill-mode: forwards;
 }



/* Standard syntax */
@keyframes example {
   from {color: #FFFFFF;}
   to {color: #000000;}

}
